.h-90 {
    height: 90%;
}

.grad {
    
    background-image: linear-gradient(#009688 , #dcdbd1);
}

.grey1 {
    background-color: #eaeaea;
}

.icongrey {
    color: #b1b1b1;
    cursor: pointer;
}

.avatarCustomH {
    height: 60px;
}

.bgazure {
    background-color: #8edafc;
    cursor: pointer;
}

.bellicon {
    width: 20px;
}

.belliconzure {
    color: #8edafc;
}