.h-90 {
    height: 90%;
}


body {
    background: rgb(0,168,132);
    background: linear-gradient(0deg,  #dcdbd1 85% ,  rgb(	18, 140, 126) 10%);
    }


.grey1 {
    background-color: #eaeaea;
}

.icongrey {
    color: #b1b1b1;
    cursor: pointer;
}

.avatarCustomH {
    height: 60px;
}

.bgazure {
    background-color: #8edafc;
    cursor: pointer;
}

.bellicon {
    width: 20px;
}

.belliconzure {
    color: #8edafc;
}

.ot {
    height: 80%;
    background-image: url('./img/mine.jpg');
}